<h2 style="color: chocolate">Ayudantía N°3: Teoría de la producción y la oferta</h2>

---

Diego Bernal

source venv/Scripts/activate

# 1° Ejercicio

La firma que produce aviones de papel tiene la siguiente función de producción siendo K (maquinas) y L (colboradores).

$$
F(W,L) = 5L^{0.5} + 2K^{0.6}
$$

- Comente cuales son lass relaciones entre costo total, costo marginal y costo mdio en el corto y largo plazo.

**Respuesta**: 

En el corto plazo, la firma que produce aviones de papel tiene restringida su producción por algún factor —en la mayoría de los casos, el capital—. En cambio, en el largo plazo, la firma tiene libre elección de los factores que minimizan el costo. Por lo tanto, los costos totales son mayores en el corto plazo que en el largo plazo.

Luego, los costos medios se definen como los costos totales promedio. Si comparamos estos costos en el corto y largo plazo, observamos lo siguiente: en el gráfico, los costos medios de largo plazo están por debajo de los de corto plazo, excepto en el punto donde la cantidad producida es óptima, donde ambos coinciden.

En cambio, los costos marginales se comportan distinto. En el gráfico, los costos marginales de corto plazo son menores que los de largo plazo antes de llegar a la cantidad óptima, pero después de ese punto los costos marginales de corto plazo se vuelven mayores que los de largo plazo.

- Supongamos que $K=6$ en el corto plazo, ¿Cual es el producto marginal del trabajo?. Calcule la función de costo total en el corto plazo.

**Respuesta**: 

Si $K = 6$ en el corto plazo esto implica que la función de producción quedaria de la siguiente manera

$$
F(6,L) = 5L^{0.5} + 2 \cdot 6^{0.6}
$$

El producto marginal en relación a el trabajo quedaria:

$$
PMG_{L} = \frac{dq}{dL} = \frac{2.5}{\sqrt{L}}
$$

El producto medio seria la producción total dividida en la cantidad de trabajo (L):

$$
PME_{L} = \frac{5L^{0.5} + 2\cdot6^{0.6}}{L}
$$

$$
PME_{L} = \frac{5}{\sqrt{L}} + \frac{2\cdot6^{0.6}}{L}
$$


Función de costos totales:

Primero dejamos expresado en terminos de *q* la función de produccion de corto plazo.
$$
q = 5L^{0.5} + 2 \cdot 6^{0.6}
$$
$$
\frac{q - 2 \cdot 6^{0.6}}{5} = L^{0.6}
$$
$$
L = (\frac{q - 2 \cdot 6^{0.6}}{5})^{2}
$$

La función de costos totales $C = wL + rK$, reemplazando:

$$
C = w \cdot (\frac{q - 2 \cdot 6^{0.6}}{5})^{2} + 6r
$$

- Tiene la función de producción rendimientos crecientes, decrecientes o constantes a escala?, ¿ Cual es la elasticidad de sustitución entre capital (K) y trabajo (L).

**Respuesta:**

Multiplicamos ambas variables por una escalar $t$ y evaluamos:

$$
F(tW,tL) = 5(tL)^{0.5} + 2(tK)^{0.6}
$$

$$
F(tW,tL) = 5(t)^{0.5}\cdot(L)^{0.5} + 2(t)^{0.6}\cdot(K)^{0.6}
$$

Al no poder factorizar por un $t^{alpha}$ comun no podemos afirmar que tenemos una proporción constante a escala, lo que implica que no podemos afirmar si tenemos una función creciente o decreciente :c.

- parte 2

$$
F(K, L) = 5L^{0.5} + 2K^{0.6}
$$

Denotaremos la elasticidad de la sustitución como $\sigma$

$$
\sigma = \frac{d\ln(K/L)}{d\ln(TMST)}
$$

Derivamos con respecto a cada factor:

Producto marginal del trabajo
$$
PMg_L = \frac{dF}{dL} = \frac{5}{2} L^{-0.5}
$$

porcusto marginal del capital
$$
PMg_K = \frac{dF}{dK} = 2 \cdot 0.6 K^{-0.4} = 1.2 K^{-0.4}
$$

Reemplazando en $\sigma$:

$$
TMST = \frac{PMg_L}{PMg_K} = \frac{\frac{5}{2} L^{-0.5}}{1.2 K^{-0.4}} = \frac{25}{12} \cdot \frac{K^{0.4}}{L^{0.5}}
$$

Aplicamos el *ln*:

$$
\ln(TMST) = \ln\left(\frac{25}{12}\right) + 0.4 \ln K - 0.5 \ln L
= \ln\left(\frac{25}{12}\right) + 0.4 \ln\left(\frac{K}{L}\right) + 0.1 \ln L
$$

derivamos con respecto a $ln(\frac{K}{L})$
$$
\sigma = 2.5
$$

$$
\therefore \text{Al ser una elasticidad positiva podemos concluir que hay una alta sustitución entre Capital y Trabajo.}
$$

# Ejercicio 2

In [279]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from dash import Dash, dcc, html, Input, Output
import calendar
import datetime
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error

In [280]:
inv = 2000000
r = 0.15
costos = 320000

In [281]:
df = pd.read_excel("./data/datos_energía.xlsx",sheet_name="Hoja2")

In [282]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Comuna               84 non-null     object
 1   Año                  84 non-null     int64
 2   Mes                  84 non-null     int64
 3   energia_kwh          84 non-null     int64
 4   Total_clientes       84 non-null     int64
 5   ener_t_1             83 non-null     float64
 6   ener_t_2             82 non-null     float64
 7   precio_promedio_kwh  84 non-null     float64
 8   Imac                 84 non-null     float64
 9   Imac_nominero        84 non-null     float64
dtypes: float64(5), int64(4), object(1)
memory usage: 6.7+ KB

In [283]:
df['date'] = pd.to_datetime(dict(year=df['Año'], month=df['Mes'], day=1))

In [284]:
df = pd.get_dummies(df, columns=['Mes'], prefix='Mes')

In [285]:
df = df.rename(columns={'energia_kwh': 'energia_mwh', 'precio_promedio_kwh': 'precio_promedio_mwh'})

In [286]:
df[['ener_t_1', 'ener_t_2']] = df[['ener_t_1', 'ener_t_2']].fillna(0)

In [287]:
df['energia_mwh'] = df['energia_mwh'] /1000
df['precio_promedio_mwh'] = df['precio_promedio_mwh'] /1000
df['ener_t_1'] = df['ener_t_1']/1000
df['ener_t_2'] = df['ener_t_2']/1000

In [288]:
X = df.drop(columns=['Comuna','Año','Imac','Mes_1','energia_mwh','date'])
Y = df['energia_mwh']

In [289]:
X

,Total_clientes,ener_t_1,ener_t_2,precio_promedio_mwh,Imac_nominero,Mes_2,Mes_3,Mes_4,Mes_5,Mes_6,Mes_7,Mes_8,Mes_9,Mes_10,Mes_11,Mes_12
0,81382,0.000,0.000,0.059828,89.228365,False,False,False,False,False,False,False,False,False,False,False
1,81020,42894.607,0.000,0.058999,86.648061,True,False,False,False,False,False,False,False,False,False,False
2,80837,42130.392,42894.607,0.059333,97.114561,False,True,False,False,False,False,False,False,False,False,False
3,81294,40002.400,42130.392,0.059610,94.932175,False,False,True,False,False,False,False,False,False,False,False
4,81354,42145.684,40002.400,0.062228,92.823486,False,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,83657,40903.623,40200.775,0.069217,108.902637,False,False,False,False,False,False,True,False,False,False,False
80,83711,41055.708,40903.623,0.069982,107.165607,False,False,False,False,False,False,False,True,False,False,False
81,83603,40568.719,41055.708,0.070834,112.007952,False,False,False,False,False,False,False,False,True,False,False
82,83828,40574.496,40568.719,0.072260,118.255549,False,False,False,False,False,False,False,False,False,True,False
83,83898,40919.006,40574.496,0.074781,122.140987,False,False,False,False,False,False,False,False,False,False,True

In [290]:
X_train, X_test = X[:-12], X[-12:]
y_train, y_test = Y[:-12], Y[-12:]

In [291]:
model = LinearRegression()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
df.loc[df.index[-12:], 'y_pred'] = y_pred

In [292]:
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
print(round(rmse,2))

613.55

In [293]:
df.tail(12)

,Comuna,Año,energia_mwh,Total_clientes,ener_t_1,ener_t_2,precio_promedio_mwh,Imac,Imac_nominero,date,...,Mes_4,Mes_5,Mes_6,Mes_7,Mes_8,Mes_9,Mes_10,Mes_11,Mes_12,y_pred
72,Vallenar,2021,40821.652,83642,40150.517,40701.028,0.074482,96.153381,96.760007,2021-01-01,...,False,False,False,False,False,False,False,False,False,40913.605585
73,Vallenar,2021,40348.640,83628,40821.652,40150.517,0.074151,92.562601,93.557321,2021-02-01,...,False,False,False,False,False,False,False,False,False,40253.383808
74,Vallenar,2021,40147.120,83670,40348.640,40821.652,0.073581,107.814673,109.124542,2021-03-01,...,False,False,False,False,False,False,False,False,False,40229.434638
75,Vallenar,2021,39890.519,83563,40147.120,40348.640,0.071529,102.233792,103.157262,2021-04-01,...,True,False,False,False,False,False,False,False,False,40382.176065
76,Vallenar,2021,40741.328,83702,39890.519,40147.120,0.071085,104.838116,105.745606,2021-05-01,...,False,True,False,False,False,False,False,False,False,40155.007733
77,Vallenar,2021,40200.775,83697,40741.328,39890.519,0.069685,103.784861,104.762718,2021-06-01,...,False,False,True,False,False,False,False,False,False,41879.233631
78,Vallenar,2021,40903.623,83714,40200.775,40741.328,0.069071,101.515940,102.057230,2021-07-01,...,False,False,False,True,False,False,False,False,False,41567.680304
79,Vallenar,2021,41055.708,83657,40903.623,40200.775,0.069217,107.686067,108.902637,2021-08-01,...,False,False,False,False,True,False,False,False,False,41380.148820
80,Vallenar,2021,40568.719,83711,41055.708,40903.623,0.069982,105.479685,107.165607,2021-09-01,...,False,False,False,False,False,True,False,False,False,40858.713869
81,Vallenar,2021,40574.496,83603,40568.719,41055.708,0.070834,110.894921,112.007952,2021-10-01,...,False,False,False,False,False,False,True,False,False,41249.007089
82,Vallenar,2021,40919.006,83828,40574.496,40568.719,0.072260,116.334812,118.255549,2021-11-01,...,False,False,False,False,False,False,False,True,False,40969.298788
83,Vallenar,2021,40366.125,83898,40919.006,40574.496,0.074781,120.318627,122.140987,2021-12-01,...,False,False,False,False,False,False,False,False,True,40415.399932

In [294]:
graf=df[['date','energia_mwh','y_pred']]

In [295]:
graf_melted = graf.melt(id_vars='date', value_vars=['energia_mwh', 'y_pred'], var_name='Variable', value_name='Valor')

fig = px.line(
    graf_melted,
    x="date",
    y="Valor",
    color="Variable",  
    hover_data={"date": "|%B %d, %Y"},
    title='Consumo energetico en MWH \n Comuna del Huasco'
)

fig.update_xaxes(
    dtick="M12",
    tickformat="%b \n %Y",
    tickangle=45,
    gridwidth=1,
    gridcolor='orange',
    ticklabelmode="period",
    minor=dict(
        dtick="M1",            
        tick0="2015-01-01",
        showgrid=True,
        gridcolor='White',
        griddash='dot',
        ticklen=4,
    )
)

html_file = "Consumo_energetico_Vallenar.html"
fig.write_html(html_file)

La función de producción viene dada por l siguiente ecuacion:

$$
    F(G_{i,t}) = \frac{C_{inv} + \sum_{t=1}^{T} (1+r)^{-t}*\cdot C_t}{\sum_{t=1}^{T} (1+r)^{-t}\cdot G_{i,t}}
$$

Reemplazando los parametros buscamos estimar para el año 2022.

$$
    F(G_{i,t}) = \frac{1000000 + \sum_{t=1}^{12} (1+0.15)^{-12}*\cdot 60000}{\sum_{t=1}^{12} (1+0.15)^{-12}\cdot G_{i,t}}
$$


$$
F(G_{i,t}) = \frac{1000000}{0.187 \cdot \sum_{t=1}^{12} G_{i,t} } + \frac{134640}{\sum_{t=1}^{12}G_{i,t}}
$$

$$
F(G_{i,t}) = \frac{1000000}{\sum_{t=1}^{12} G_{i,t} } + \frac{25158}{\sum_{t=1}^{12}G_{i,t}}
$$

$$
F(G_{i,t}) = \frac{1025158}{\sum_{t=1}^{12} G_{i,t} } 
$$

En el mrcado energetico el precio por bloque energetico es exogeno (autoridad = CNE), por lo que no podemos asumir que el CMG es igual al precio en un mercado competitivo.

In [296]:
CT = 1025158
costo_medio = CT/ sum(y_pred)

In [297]:
precio_prom=np.mean(df['precio_promedio_mwh'].tail(12))

In [298]:
if (costo_medio > precio_prom ):
    print(f"Proyecto no rentable en los costos medios {round(costo_medio,2)}$USD > a {round(precio_prom,2)}$USD, deben diversificar las ciudades")
else:
    print(f"Proyecto rentable los costos medios {costo_medio}$USD <= a {precio_prom}$USD")

Proyecto no rentable en los costos medios 2.09$USD > a 0.07$USD, deben diversificar las ciudades

En el mercado la oferta y la demanda son iguales por lo que.Precio = costo medio

In [299]:
n = costo_medio/precio_prom
print(f"En el mercado hay {round(n)} firmas.")

En el mercado hay 29 firmas.

In [300]:
df.loc[df.index[-12:], 'inv'] = 1

In [301]:
X = df.drop(columns=['Comuna','Año','Imac','Mes_1','energia_mwh','date','y_pred'])

In [302]:
X['inv'] = X['inv'].fillna(0)

In [303]:
X_train, X_test = X[:-12], X[-12:]
y_train, y_test = Y[:-12], Y[-12:]

In [304]:
model = LinearRegression()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
df.loc[df.index[-12:], 'y_pred'] = y_pred

In [305]:
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
print(round(rmse,2))

613.55

In [306]:
CT = 1025158
costo_medio = CT/ sum(y_pred)

In [307]:
print(f"Costo_medio = {round(costo_medio,1)}. No hubo variación")

Costo_medio = 2.1. No hubo variación

Asumamos que las firmas 37 comparten el mercado

In [308]:
print(f"El ingreso de cada firma es de {round((sum(y_pred)/n)*precio_prom,1)}USD")

El ingreso de cada firma es de 1206.0USD

In [309]:
print(f"El costo de cda firma es de {round(costo_medio) * (sum(y_pred)/n)}")

El costo de cda firma es de 33630.18328285269

En el mercado no hay beneficios actualmente